.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $color-background-secondary;

  @media screen and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

    &__title {
      @extend %title;

      @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
      }
    }

    &__box {
      @extend %list;
      display: flex;
      
      @media screen and (min-width: 768px) {
        display: flex;
      }

      @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
      }
    }
}

