$color-text-primary: #757575;
$color-text-secondary: #212121;
$color-accent: #2196F3;
$color-white: #FFFFFF;
$color-background: #2F303A;
$color-background-secondary: #F5F4FA;
$color-logo-header: #000000; 
$color-footer-contact: rgba(255, 255, 255, 0.6);
